body {
    overflow-x: hidden;

}

.footer {
    bottom: 0;
    position: relative;
}

.navbar {
    background-color: rgb(45, 88, 206);
}

.btn-primary {
    background-color: rgb(87, 132, 255);
}

.btn-outline-primary {
    color: rgb(50, 104, 255);
    border-color: rgb(50, 104, 255);
    border-radius: 0%;
}

.btn-outline-primary:hover {
    background-color: rgb(111, 150, 255);
}

.card {
    border-radius: 0%;
}

.form-control {
    border-radius: 0%;
}
.price {
    color: rgb(87, 132, 255);
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
}

a {
    color: rgb(22, 22, 22);
}

a:hover {
    color: rgb(128, 128, 128);
    text-decoration: none;
}

h4 {
    color: rgb(31, 31, 31);
}